<div class="top" >
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>
    </div>
</div>

<div class="jumbotron">
  <p class="lead">
    <form ng-submit="setSolace()">
        <input type="test-area" size=80 ng-model="solace" />
        Maximum character limit
    </form>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Submit<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
